$primary: #272636;
$secondary: #2997ff;
$accent: #F53E4A;
$light: #bfd9e3;

h2{
  margin-left: 0;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    display: none;
    width: 100%;
    /* Additional styling for each slide */
  }
  
  .active {
    display: block;
  }  



  #selling-furniture {
    .carousel-container {
      position: relative;
      overflow: hidden;

      .carousel-slide {
        display: none;
        &.active {
          display: block;
        }
      }

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        background-color: $primary-color;
        color: $white-color;
        border: none;
        cursor: pointer;
      }

      #prev-button {
        left: 0;
      }

      #next-button {
        right: 0;
      }
    }
  }

#interior-design, #become-designer, #job-application {

  .designer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .designer {
      flex: 0 0 30%;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }

      h3 {
        margin-top: 10px;
        color: $primary-color;
      }

      p {
        margin-top: 10px;
      }
    }
  }

  form {
    margin-top: 20px;
    label {
      display: block;
      margin-bottom: 5px;
      color: $primary-color;
    }
    input,
    button {
      margin-top: 10px;
      padding: 10px;
    }
  }
}
